/* Will deal with styling later... */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --font-heading: "Kanit", serif;
    --text-sm:0.5rem;
    --text-medium:1rem;
}
body{
    font-family: var(--font-heading);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */

}

main {
    width: 100%; /* Full width */
    max-width: 400px; /* Set a max width for the form */
    padding: 2rem; /* Add some padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    border-radius: 0.5rem; /* Optional: Rounded corners */
}

.playerPractice {
        font-size: var(--text-sm);
        list-style-type: none;
        border: 1px solid #c6c4c4;
        border-radius: 0.5rem;
        padding: 2rem;
    
}